body {
    margin: 0;
    padding: 0;
    background: #E6EFE9;
}

.main {
    padding: 50px;
    color: #8F8389;
    background: #C2EABA;
    text-align:center;
    font-family: 'oswald', sans-serif;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    margin-top: 5%;
    border-radius: 10px;
}

footer ul {             /* NAVBAR */
    list-style: none;
    background-color: #A7C4A0;
    text-align: center;
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    bottom: 0px;
}
footer a {
    text-decoration: none;
    color: #7d7277;
    background-color: #A7C4A0;
    display: block;
    transition: 0.3s background-color;
}
footer a:hover {
    background-color: #C5F4E0;
}

.navbar ul {             /* NAVBAR */
    list-style: none;
    background-color: #A7C4A0;
    text-align: center;
    padding: 0;
    margin: 0;
}


.navbar a {
    text-decoration: none;
    color: #7d7277;
    background-color: #A7C4A0;
    display: block;
    transition: 0.3s background-color;
}

.navbar a:hover {
    background-color: #C5F4E0;
}

.navbar a.active {
    background-color: #fff;
    color: #2f2f2f;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .navbar li {
        width: 160px;
        border-bottom: none;
        font-family: 'oswald', sans-serif;
        font-size: 1.2em;
        line-height: 40px;
        height: 40px;
    }

    .navbar li {
        display: inline-block;
        margin-right: -4px; /* NAVBAR ENDS */
    }

    footer li{
        width:450px;
        border-bottom: none;
        font-family: 'oswald', sans-serif;
        font-size: 1.2em;
        line-height: 40px;
        height: 40px;
        display: inline-block;
        margin-right: -4px;

    }
}
